@import url('https://fonts.googleapis.com/css?family=Coiny|Indie+Flower');


/*---------------------------------------------------header*/

header {
    background-color: #000000;
}




h1 {
    
    font-size: 80px;
    font-family: "coiny";
    color:red;
}

h2 {
    color: blue;
    font-family: "indie flower";
    font-size: 50px;
    min-width: 360px;
}










/*---------------------------------------------------margins/text*/

h1, h2, h3, h4, h5, h6, p, div{
    text-align: center;
}

.underline {
    text-decoration:underline;
}

.uppercase {
    text-transform: uppercase;
}

.large-text{
    font-size: 50px;
    font-family: "coiny";
}


/*---------------------------------------------------navigation*/
.menuitem {
    background-color: #000;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}

.menuitem a {
    text-decoration: none;
}
/*---------------------------------------------------purchase-order*/

.purchase-order {
    background-color: gray;
    min-height: 2000px;
    min-width: 300px;
}

.album {
    background-color: #fff;
    padding-top: 50px;
    margin-bottom:10px;
}

.album p {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}
/*---------------------------------------------------home*/
.background-home {
    margin-top: 100px;
}
.section-home {
    background-image: url(/assets/images/monkees.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    color: red;
    background-attachment: inherit;
    min-height: 2000px;
    
}

/*---------------------------------------------------band*/
.band {
    margin-top: 100px;
    margin-bottom: 100px;
}
.personal-info {
    margin-top: 100px;
}
/*---------------------------------------------------songs*/

.music {
    margin-top:100px;
    margin-bottom:100px;
}
.lyrics-base {
    
    
    padding: 50px;
}
.lyrics {
    
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
/*---------------------------------------------------images*/

.collections {
    margin-top: 100px;
    margin-bottom: 100px;
}
/*---------------------------------------------------tour*/
.tours {
    margin-top: 100px;
    margin-bottom: 100px;
    
    text-align: center;
}
.tour-video {
    
    margin: 0 auto;
    text-align: center;
    background-color: #000;
    color: #fff;
    
    
    
}

.tour-dates {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #000;
    color: #fff;
    
}
.tour-video p{
    text-align: center;
}
.notice {
    background-color: #000;
}

.alert{
    color: red;
}

/*---------------------------------------------------contact*/

.contact {
    margin-top: 100px;
    margin-bottom: 100px;
}

.form-fix{
    text-align:center;
}
form ul {
    list-style-type: none;
}

form ul li {
    clear: both;
}

form {
    display:inline-block;
    width: 1000px;
    
    
    border: 1px solid #666;
    border-radius: 10px;
    box-shadow: .2em .2em .5em #999;
    background-color: #d0e9f6;
    padding: 1em;
    overflow: hidden;
}

label {
    display: block;
    float: left;
    width: 10em;
    text-align: right;
    margin-right: .5em;
    color: #04699d;
}

input.textinput {
    width: 50em;
    height: 2em;
    border: 1px solid #666;
}

textarea {
    display: inline-block;
    width: 50em;
    height: 5em;
    border: 1px solid #666;
    margin-bottom: 1em;
    line-height: 1.25;
    overflow: auto;
    resize: none;
}

input.textinput, textarea {
    font-family: Times, sans-serif;
    font-size: .875em;
}

fieldset{
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    display: block;
    width: 10em;
    float: left;
    margin-right: .5em;
    text-align: right;
    color: #04699d;
}

.options label {
    color: #000;
    display: inline;
    float: none;
    text-align: inherit;
    width: auto;
    font-weight: normal;
    background-color: inherit;
}

.options ul li {
    display: inline;
    margin-bottom: 0;
    clear: none;
}
.options ul {
    margin-left: 11em;
}

input[type="submit"], input[type="reset"] {
    display: block;
    width: 10em;
    height: 2em;
    float: left;
    background: #d0e9f6;
    font-size: inherit;
    border: 1px solid #04699d;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.5);
}

input[type="submit"] {
    margin-left: 15em;
    margin-right: 5em;
    color: green;
}

input[type="reset"] {
    color: red;
}


/*---------------------------------------------------footer*/
footer {
    background-color: #525252;
    color: white;
    min-height: 200px;
    float:bottom;
}
.footer-text{
    margin-top: 50px;
}


.social {
    padding-top: 50px;
}

.social li a{
    padding-left: 50px;
}
.social li a i {
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 30px;
    
    padding: 10px;
    border-radius: 100%;
    color: white;
    background: red;
}

